* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 150%;
}

body {
    background-color: #121212;
    font-family: 'Roboto'
}


.css-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

h1 {
    color: #bb86fc;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: 'Archivo black'
}

.header-image {
    height: 200px;
    width: 150px;
    margin-left: 18%;
}

.about-me-section {
    background-color: #03dac6;
    margin-left: 30px;
    margin-top: 1%;
    width: 45%;
    border: 2px solid #1D8A99;
    border-radius: 7px;
}

.about-me-section p {
    color: #360067;
}


h2 {
    color: #bb86fc;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 1%;
    font-family: 'Archivo black'
}

.project-section {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.project-images {
    height: 150px;
    width: 150px;
    margin: auto;
}

.technologies {
    margin: auto;
    color: #bb86fc;
    margin-top: 5px;
}

.project-github {
    text-decoration: underline;
    font-weight: bold
}

.project-github:hover {
    cursor: pointer;
}

.project-description {
    width: 45%;
    background-color: #03dac6;
    margin: auto auto;
    border: 2px solid #1D8A99;
    border-radius: 7px;
    margin-bottom: 10px;
}

.project-font-color {
    color: #360067;
}

a:link {
    text-decoration: none;
}

li {
    cursor: pointer;
}

.project-images:hover {
    cursor: pointer;
    opacity: .9;
    filter: blur(1px);
    background: linear-gradient (red, yellow);
}

.contact-icons img:hover {
    cursor: pointer;
}

#github-icon:hover,
#linkdin-icon:hover,
#emial-icon:hover {}

@media screen and (min-width: 320px) {



    .contact-icons img {
        height: 50px;
        width: 50px;
        padding: 1% 0 0 1%;
    }

    .about-me-h1 {
        font-family: 'Archivo Black';
        font-size: .7em;
        text-align: center;
    }

    .css-header {
        display: flex;
        flex-direction: column;
    }

    .header-image {
        height: 150px;
        width: 125px;
        margin: auto;
        margin-top: 1%;
    }

    .about-me-section {
        background-color: #03dac6;
        margin: auto;
        width: 95%;
        margin-top: 5%;
        border: 2px solid #1D8A99;
        border-radius: 7px;
        padding: 2%
    }

    .about-me-section p,
    #project-description p {
        font-size: 1em;
    }


    h2 {
        font-size: 1.5em;
    }

    .project-section p {
        font-size: 1em;
    }

    .project-description {
        background-color: #03dac6;
        margin: auto;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5%;
        border: 2px solid #1D8A99;
        border-radius: 7px;
        padding: 2%
    }

}

@media screen and (min-width: 768px) {


    .contact-icons img {
        height: 75px;
        width: 75px;
        padding: 1% 0 0 1%;
        margin-top: 1%;
    }


    .about-me-h1 {
        font-family: 'Archivo Black';
        font-size: 1em;
        text-align: center;
    }

    .css-header {
        display: flex;
        flex-direction: column;
    }

    .header-image {
        height: 150px;
        width: 125px;
        margin: auto;
        margin-top: 5px;
    }

    .about-me-section {
        background-color: #03dac6;
        margin: auto;
        width: 75%;
        margin-top: 3%;
        border: 2px solid #1D8A99;
        border-radius: 7px;
        padding: 2%
    }

    .about-me-section p,
    .project-description p {
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }





    .project-description {
        background-color: #03dac6;
        margin: auto;
        width: 75%;
        margin-top: 3%;
        margin-bottom: 5%;
        border: 2px solid #1D8A99;
        border-radius: 7px;
        padding: 2%
    }

}

@media screen and (min-width: 1024px) {

    .contact-icons img {
        margin-top: .5%;
    }

    .about-me-h1 {
        font-size: 1.5em;
        margin-top: 5%;
        text-align: center;
    }

    .header-image {
        height: 200px;
        width: 175px;
    }

    .about-me-section p {
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }

    .project-images {
        height: 200px;
        width: 200px;
    }

    .project-section p {
        font-size: 1em;
    }

    .project-description {
        width: 65%;
    }

    .project-description p {
        font-size: 1em;
    }

}